
.search-btn{
    background-color: #F06C4E;
}
#search-input{
    background-color: #F8F7F5;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 4;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#food-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.card{
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}
.meal-card:hover{
    box-shadow: 5px 5px 5px gray;
}
#single-item-box ul{
    list-style: none;
}
#single-item-box ul li svg{
    color: seagreen;
}
#single-item-box ul li{
    display: flex;
    align-items: center;
}
#single-item-box p{
    margin-left: 5px;
    margin-bottom: 1px;

}
#upper-data img{
    width: 300px;
    border-radius: 10px;
}
#single-item-box{
    padding-top: 20px;
    width: 870px;
    margin: auto;
}
#error-message{
    color: #ffffff;
    background-color: rosybrown;
    padding: 15px;
    display: none;
}
